.c-page-header{
    flex-direction: column;
    justify-content: space-between;
}
.c-page-header>.row{
    align-items: flex-end;
}
.c-b-end{
    text-align: end;
    margin:20px 0;
}
.c-page-header>.row>.c-header-sort>label{
    margin-right: 10px;
}