:root {
  --main-color: #151525;
  --text-color:white;
}
.p-home{
  padding-top:60px;
  display: flex;
  flex-direction: column;
}
.p-home-bg-img>img{
  display: none;
  width: 100%;
  height: 55vh;
  object-fit: cover;
}
.p-home-header{
  background-color: var(--main-color);
  color: var(--text-color);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.p-home-title{
  padding:50px;
}
.p-login{
  min-width: 350px;
  text-align: left;
  display: block;
  box-shadow: 6px 4px 17px 2px rgba(0,0,0,0.69); 
  padding:20px 10px;
  background-color: var(--text-color);
  color:var(--main-color);
  margin: 20px;
}
.p-login>form{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.p-home-footer{
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
.p-home-footer>.card-deck{
  display: flex;
  flex-wrap: wrap;
}
.p-home-footer>.card-deck>.card>img{
  width: 50%;
}
.p-home-footer>.card-deck>.card{
  align-items: center;
  padding: 10px;
  border: none;
}

@media (min-width: 768px) {

}
@media (min-width: 992px) {
  .p-home-footer>.card-deck{
    text-align: left;   
  }
  .p-login{
    position: absolute;
    right: 20px;
    top: 100px;
    z-index: 1;
  }
  .p-home-bg-img>img{
    display: initial;
  }
  .p-home-header{
    justify-content: space-between;
  }
}
/* .p-home-card{
  border: none;
  margin: 0 auto;
  padding:30px;
  text-align: left;
}
.p-home-card>img {
  padding: 10px 0;
   width: 100%;
}  */
/* .p-home{
    min-height: inherit;
    background-image: url("/src/assets/background-image.jpg") ;
    background-position: center;
    background-repeat: no-repeat;
    /* opacity: 0.6; 
    background-size: cover;
    width: 100%;
    }
  .p-home-title{
    position: fixed;
    top: 10%;
    left: 20%;
  } */
/* .p-home-bg-img{
  position: relative;
  top:60px;
}
.p-home-bg-img >img{
  opacity: 0.8;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 90vh;
}
.p-home-title{
  position: fixed;
    top: 10%;
    left: 20%;
    color: rgb(1, 53, 1);
} */